.title {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  padding-top: 138px;
  margin-bottom: 45px;
  @media (max-width: 1024px) {
    padding-top: 50px;
    font-size: 40px;
  }
}
.mainSchemeWrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  margin-bottom: 100px;
  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }
  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
  .item {
    width: 378px;
  }
  .itemInnerTitle {
    display: flex;
    align-items: center;
    background-color: #fbfaf9;
    padding-block: 35px;
    margin-bottom: 16px;
    .itemNumber {
      padding: 13px 24px;
      background-color: #89b867;
      color: #fff;
      font-size: 24px;
      font-family: "Idealist Sans", sans-serif;
      font-weight: 400;
      margin-left: 38px;
      margin-right: 17px;
    }
    .itemTitle {
      font-family: "Idealist Sans", sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: #2e2e34;
    }
  }
  .itemInnerText {
    p {
      font-size: 16px;
      font-weight: 400;
      font-family: "Idealist Sans", sans-serif;
      line-height: 165%;
    }
  }
}
